.Sidebar{
    background-color: whitesmoke;
    width: 250px;
    Height:640px;
    box-shadow: 0 0 20px 2px rgba(54, 53, 53, 0.6); 

}
.logo-container img {
    margin-top: 20%;
    width: 80%; /* Adjust the width of the logo */
    height: auto;
    margin-bottom: 20px;
  }
  
  .heading-container h2 {
    margin-bottom: 10px;
    align-items: center;
  }